name: Run Linter Check

# This workflow runs the linter check on every pull request.

on: [workflow_dispatch, pull_request]

jobs:
  run-linter:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Run Ktlint
        run: ./gradlew ktlintCheck
